.subheader {
  .title {
    text-align: left;
    font: normal normal 600 36px/55px Poppins;
    letter-spacing: 0.2px;
    color: #324483;
    opacity: 1;
  }

  .subTitle {
    text-align: left;
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0.1px;
    color: #324483;
    opacity: 1;
  }
}
